/* Open sans font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.tabs {
  max-width: 800px;
  margin: 40px;
}

.tabs-tablist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-bottom: -1px;
}

.tabs-tablist-item {
  display: block;
  padding: 10px 20px;
  color: #999;
  text-decoration: none;
  font-weight: 700;
  background-color: #eee;
  border-radius: 5px 5px 0 0;
  border: 1px solid #999;
}

.tabs-content {
  padding: 20px;
  border: 1px solid #999;
}
